# Test Connection

In [8]:
import mysql.connector

db = mysql.connector.connect(user='root',password='admin')

# Check Database

In [9]:
import mysql.connector

db = mysql.connector.connect(
    host="localhost",
    user="root",
    password="admin"
)

if db.is_connected():
    print("Database Connected")

Database Connected

# Check if Database Exists
# What is cursor?
A cursor is an object which helps to execute the query and fetch the records from the database. The cursor plays a very important role in executing the query. This article will learn some deep information about the execute methods and how to use those methods in python.

In [29]:
import mysql.connector

db = mysql.connector.connect(
    host="127.0.0.1",
    user="root",
    password="admin"
)

cur = db.cursor()
cur.execute("show databases")

for i in cur:
    print(i)

('employee_data',)
('employee_data2',)
('information_schema',)
('iot_b3',)
('mysql',)
('performance_schema',)
('sakila',)
('sys',)
('world',)

# Creating Database

In [11]:
import mysql.connector

db = mysql.connector.connect(
    host="127.0.0.1",
    user="root",
    password="admin"
)

cur = db.cursor()
cur.execute("CREATE DATABASE employee_data2")

print("Database Created Successful !!!")

Database Created Successful !!!

# Use Database method #1

In [1]:
import mysql.connector

db = mysql.connector.connect(
    host="127.0.0.1",
    user="root",
    password="admin"
)

cur = db.cursor()
cur.execute("use mysql")

# Use Database #2

In [31]:
import mysql.connector

db = mysql.connector.connect(
    host="127.0.0.1",
    user="root",
    password="admin",
    database='mysql'
)
if db.is_connected():
    print("Database Connected")

Database Connected

# Creating Table

In [33]:
import mysql.connector

db = mysql.connector.connect(
    host="127.0.0.1",
    user="root",
    password="admin",
    database="employee_data",
)

cursor = db.cursor()
sql = """CREATE TABLE customers (
  customer_id INT AUTO_INCREMENT PRIMARY KEY,
  name VARCHAR(255),
  address Varchar(255)
)
"""
cursor.execute(sql)

print("Table Created Successful !!!")

Table Created Successful !!!

# Check Table

In [3]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="admin",
  database="employee_data"
)

mycursor = mydb.cursor()

mycursor.execute("SHOW TABLES")

for x in mycursor:
    print(x)

('customers',)

# Insert Values in table

In [6]:
import mysql.connector

db = mysql.connector.connect(
    host="127.0.0.1",
    user="root",
    password="admin",
    database="employee_data",
)

cursor = db.cursor()
sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
values = ("Alian","Street 5 Jupiter")

# for val in values:
#     cursor.execute(sql, val)
cursor.execute(sql,values)

db.commit()

print("{} data added".format(cursor.rowcount))

1 data added

# Multi values add in table

In [2]:
import mysql.connector

db = mysql.connector.connect(
    host="127.0.0.1",
    user="root",
    password="admin",
    database="employee_data",
)

cursor = db.cursor()
sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
values = [
    ("Alian","Street 5 Jupiter"),
    ("Alia","Street 5 Jupiter"),
    ("Ali","Street 5 Jupiter"),
    ("john alia","Street 5 Jupiter"),
    ("Alian","Street 5 Jupiter")
]

# for val in values:
#     cursor.execute(sql, val)
cursor.executemany(sql,values)

db.commit()

print("{} data added".format(cursor.rowcount))

5 data added

# show tables (fetch all)

In [8]:
import mysql.connector

dataBase = mysql.connector.connect(
host ="localhost",
user ="root",
passwd ="admin",
database = "employee_data"
)

# preparing a cursor object
cursorObject = dataBase.cursor()

query = "SELECT address FROM customers"
cursorObject.execute(query)

myresult = cursorObject.fetchall()

for x in myresult:
    print(x)

# disconnecting from server
db.close()
db

('Canyon 123',)
('Canyon 123',)
('Canyon 123',)
('Magura',)
('Ctg',)
('Rajshahi',)
('Canyon 123',)
('Canyon 123',)
('Canyon 123',)
('Canyon 123',)
('Canyon 123',)
('Street 5 Jupiter',)
('Street 5 Jupiter',)
('Street 5 Jupiter',)
('Street 5 Jupiter',)
('Street 5 Jupiter',)

In [14]:
import mysql.connector

dataBase = mysql.connector.connect(
host ="localhost",
user ="root",
passwd ="admin",
database = "employee_data"
)

# preparing a cursor object
cursorObject = dataBase.cursor()

query = "SELECT * FROM customers"
cursorObject.execute(query)

myresult = cursorObject.fetchall()

for x in myresult:
    print(x)

# disconnecting from server
db.close()
# db.commit()

(1, 'Alian', 'Canyon 123')
(2, 'Alian', 'Canyon 123')
(3, 'Alian', 'Canyon 123')
(4, 'Shakib', 'Magura')
(5, 'Tamin', 'Ctg')
(7, 'Mushfiq', 'Rajshahi')
(8, 'Alian', 'Canyon 123')
(9, 'Alian', 'Canyon 123')
(10, 'Alian', 'Canyon 123')
(11, 'Alian', 'Canyon 123')
(12, 'Alian', 'Canyon 123')

# Select Specific Data

In [12]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="admin",
  database="employee_data"
)

mycursor = mydb.cursor()

sql = "SELECT * FROM customers WHERE address ='Street 5 Jupiter'"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

(13, 'Alian', 'Street 5 Jupiter')
(14, 'Alia', 'Street 5 Jupiter')
(15, 'Ali', 'Street 5 Jupiter')
(16, 'john alia', 'Street 5 Jupiter')
(17, 'Alian', 'Street 5 Jupiter')

# Delete Specific Data

In [13]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="admin",
  database="employee_data"
)

mycursor = mydb.cursor()

sql = "DELETE FROM customers WHERE address ='Street 5 Jupiter'"

mycursor.execute(sql)

mydb.commit()

print(mycursor.rowcount, "record(s) deleted")

5 record(s) deleted

# Update Specific Data

In [21]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="admin",
  database="employee_data"
)

mycursor = mydb.cursor()

sql = "UPDATE customers SET address = 'Karachi, Pakistan' WHERE address = 'Canyon 123'"

mycursor.execute(sql)

mydb.commit()

print(mycursor.rowcount, "record(s) affected")

8 record(s) affected

In [22]:
import mysql.connector

db = mysql.connector.connect(host='localhost',user='root',password='admin')

cur=db.cursor()
cur.execute("create database if not exists schools")
cur.execute("use schools")
cur.execute("create table if not exists lms(Student_ID INT AUTO_INCREMENT PRIMARY KEY,Roll_Number varchar(200),Name varchar(200),Father_Name varchar(200),Mobile_Number varchar(200))")

def add_user():
    global cur
    rollNum=input("Enter Roll Number: ")
    Name = input("Enter Name: ")
    Fname = input("Enter Father Name: ")
    Num = input("Enter Mobile Number: ")
    cur.execute("insert into lms(Roll_Number,Name,Father_Name,Mobile_Number) values('{}','{}','{}','{}')".format(rollNum,Name,Fname,Num))
    db.commit()
    print("Data Successfully Added")
    

def show_user():
    global cur
    cur.execute("select * from lms")
    show_data=cur.fetchall()
    for show in show_data:
        print("ID: ",show[0])
        print("Roll Number: ",show[1])
        print("Name: ",show[2])
        print("Father Name: ",show[3])
        print("Mobile Number: ",show[4])
        print()
    
def delete_user():
    global cur
    r_num=input("Enter Roll Number For Delete User: ")
    cur.execute("delete from lms where Roll_Number = '{}'".format(r_num))
    print("Data Delete Successfully")
    db.commit()

def update_user():
    global cur
    rnum=input("Enter Roll Number For Searching: ")
    nam=input("Enter Name For Updating: ")
    fnam=input("Enter Father Name For Updating: ")
    num=input("Enter Mobile Number For Updating: ")
    cur.execute("update lms set Name='{}',Father_Name='{}',Mobile_Number='{}' where Roll_Number='{}'".format(nam,fnam,num,rnum))
    print("Data Successfully Changed")
    db.commit()

while 1:
    select=input("""1.) Add User \n2.) Show User \n3.) Delete User \n4.) Update User \n5.) Exit \t\t""")
    print()
    if select == '1':
        add_user()
    elif select == '2':
        show_user()
    elif select == '3':
        delete_user()
    elif select == '4':
        update_user()
    elif select == '5':
        print("Database Is Successfully Close")
        break
    else:
        print("Invalid Enter!")

1.) Add User
2.) Show User
3.) Delete User
4.) Update User
5.) Exit 		2

ID:  1
Roll Number:  1001
Name:  Muhammad Raheel
Father Name:  Muhamamd Naseem
Mobile Number:  123456789

1.) Add User
2.) Show User
3.) Delete User
4.) Update User
5.) Exit 		4

Enter Roll Number For Searching: 1001
Enter Name For Updating: john
Enter Father Name For Updating: malton
Enter Mobile Number For Updating: 12347928347
Data Successfully Changed
1.) Add User
2.) Show User
3.) Delete User
4.) Update User
5.) Exit 		2

ID:  1
Roll Number:  1001
Name:  john
Father Name:  malton
Mobile Number:  12347928347

1.) Add User
2.) Show User
3.) Delete User
4.) Update User
5.) Exit 		5

Database Is Successfully Close